#confirmation-body,
#pembayaran-homepage-main {
  padding: 1rem 2rem;
}
#confirmation-section {
  display: flex;
  justify-content: center;
}

#confirmation-section form {
  border: 2px solid red;
  border-radius: 8px;
  padding: 0rem 0.75rem 0.5rem 0rem;
}

#confirmation-section h4 {
  color: #ff0f0f;
  font-size: 1rem;
}
.confirmation-group img {
  object-fit: contain;
  padding: 0.15rem;
  width: 20rem;
}
.confirmation-group {
  display: flex;
}

textarea {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  resize: none;
  text-align: justify;
  border-radius: 8px;
  border: 2px solid #ff0f0f;
}

.confirmation-desc,
.confirmation-input {
  display: flex;
}

.confirmation-wrapper-footer {
  display: flex;
  flex-direction: column;
}

.select-pengiriman,
.select-pembayaran {
  margin-top: 0.15rem;
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  border: 2px solid #ff0f0f;
}

.confirmation-title {
  font-weight: bolder;
  color: #ff0f0f;
}

#payment-form-wrapper {
  display: flex;
  flex-direction: column;
  border-right: 2px solid #ff0f0f;
  border-radius: 8ox;
  width: 50%;
}
.pembayaran-homepage-title {
  font-size: 1.15rem;
  color: #ff0f0f;
}
#payment-form-wrapper label {
  font-size: 0.85rem;
}

#tutorial-payment-wrapper {
  padding-left: 2rem;
  width: 50%;
}

.BCA-QR-image {
  border: 2px dashed rgba(128, 128, 128, 0.5);
  padding: 0.35rem;
  width: 12rem;
  border-radius: 8px;
}

#pembayaran-homepage-main {
  overflow: hidden;
  width: 90vw;
  display: flex;
}

.pembayaran-form {
  display: flex;
  flex-direction: column;
}

.pembayaran-form-desc {
  display: flex;
}

.pembayaran-form-desc p {
  font-size: 1.05rem;
}

.pembayaran-form-desc .total-harga {
  font-weight: bold;
  color: #ff0f0f;
}

#btn-confirm {
  padding: 0.35rem 1rem;
  width: 6rem;
}

.picture-wrapper {
  border-radius: 8px;
  position: relative;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  border: 2px dashed rgba(128, 128, 128, 0.5);
}

.picture-wrapper #bukti {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.picture-wrapper img {
  cursor: pointer;
  object-fit: contain;
  border-radius: 8px;
  position: absolute;
  width: 100%;
  height: 100%;
}
