.order-title {
  color: #ff0f0f;
  font-weight: bold;
  font-size: 1.15rem;
}
#order-main {
  margin-top: 1rem;
  display: flex;
  padding: 1rem 2rem;
}
.order-box {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 8px;
  border: 2px solid #ff0f0f;
}

#order-section-left,
#order-section-right {
  padding-left: 1.5rem;
  width: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 80vh;
}
.btn-pembayaran {
  padding: 0.35rem 1rem;
}
.btn-resubmit {
  background-color: #ff0f0f;
}
#order-section-left::-webkit-scrollbar,
#order-section-right::-webkit-scrollbar {
  width: 2px;
}

#order-section-left::-webkit-scrollbar-track,
#order-section-right::-webkit-scrollbar-track {
  background: transparent;
  width: 2px;
}

#order-section-left::-webkit-scrollbar-thumb,
#order-section-right::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(128, 128, 128, 0.5);
}
.product-name {
  word-break: break-all;
  color: #ff0f0f;
}
.order-box-wrapper {
  display: flex;
  margin-top: 1rem;
  border-radius: 8px;
  padding: 0.5rem;
  border: 2px solid #ff0f0f;
  width: 30rem;
}

.order-progress-title {
  font-size: 0.75rem;
  font-weight: normal;
  color: #ff0f0f;
}

.order-progress-desc {
  font-size: 0.85rem;
}

.empty-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0.65;
  margin-top: 10rem;
}
.empty-container h1 {
  font-size: 1rem;
  font-weight: normal;
}

.empty-container p {
  cursor: pointer;
  color: #ff0f0f;
  font-weight: bold;
}
.btn-confirm {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
}
.tracking-line-container {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #ff0f0f70;
}
.tracking-line {
  height: 2px;
  position: absolute;
  width: 10%;
  background-color: #ff0f0f;
}

.order-box-wrapper img {
  width: 10rem;
  margin-right: 0.5rem;
}
