#register-body {
  display: flex;
  padding: 0 1.5rem;
  margin-top: 2rem;
  flex-direction: column;
  align-items: center;
}
.signup-title {
  color: #ff0f0f;
}

.signup-section {
  display: flex;
}

.signup-section div {
  display: flex;
  flex-direction: column;
}
.signup-section input,
.signup-section select {
  border-radius: 8px;
  border: 2px solid #ff0f0f;
  padding: 0.5rem 0.65rem;
  width: 15.25rem;
}
.signup-section select {
  width: 16.75rem;
}
.signup-section-address {
  justify-content: center;
}
#table-address {
  display: flex;
  justify-content: center;
  height: 16rem;
  width: 100%;
}
#btn-daftar {
  padding: 0.15rem 1.5rem;
  font-size: 1rem;
}
.btn-daftar-wrapper {
  display: flex;
  justify-content: center;
}

#table-address th,
#table-address td {
  text-align: center;
  padding: 0.5rem;
}
table tr th {
  color: #ff0f0f;
  border-bottom: 2px solid #ff0f0f;
}

#btn-save {
  font-size: 1rem;
  padding: 0.25rem 1.5rem;
}
