#user-homepage {
  overflow-x: hidden;
}

#product-section {
  width: 100%;
  padding: 1.5rem 2rem;
}

.product-box-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

#product-section::-webkit-scrollbar {
  width: 1px;
}
#product-section::-webkit-scrollbar-track {
  background: transparent;
}
#product-section::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ff0f0f;
}
.product-title {
  font-size: 1.25rem;
  color: #ff0f0f;
}
.product-body {
  width: fit-content;
  display: flex;
}
.product-caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product-box {
  width: 10rem;
  cursor: pointer;
  border: 1px solid #ff0f0f8a;
  border-radius: 8px;
  padding: 1rem;
  height: fit-content;
}
.product-box:hover {
  transition: all 0.25s ease-in-out;
  border-color: #ff0f0f;
}
.product-reaction{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.product-reaction i{
  color: #ff0f0f;
}
.product-name {
  font-size: 1.25rem;
  color: #ff0f0f;
}
.product-price {
  font-size: small;
  color: #2c3e50;
}
.product-pic img {
  width: 100%;
}
#btn-filter {
  border: 2px solid white;
}
.search-empty-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0.75;
  margin-top: 10rem;
}

.tokomainan-logo-empty {
  cursor: pointer;
  color: #ff0f0f;
}
